.episodes {
  height: fit-content;
  background-image: url("../../img/backgroundEpisodes.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: top right;
}

.ep-text {
  gap: 28px;
  max-height: 80%;
  height: fit-content;
  margin-top: 200px;
  margin-bottom: 40px;
  text-align: left;
}
.ep-list {
  height: max-content;
  width: 100%;
  align-items: center;
  overflow-x: auto;
  margin: auto;
  margin-bottom: 60px;
  gap: 20px;
}
.ep-card {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 320px;
  align-items: center;
}
.ep-card img {
  width: 250px;
  height: 120px;
  border-radius: 12px;
  margin: 20px;
}
.ep-card > div {
  width: 100%;
  height: fit-content;
}
.ep-card h4 {
  height: 30px;
  text-align: left;
  margin-left: 25px;
  margin-top: 5px;
}
.ep-card p {
  height: 88px;
  max-width: 40ch;
  text-align: left;
  margin-left: 25px;
}
@media (max-width: 1050px) {
  .episodes {
    background-image: none;
    background: linear-gradient(180deg, #000000 0, #950202 40%, #000000 90%);
    height: fit-content;
  }

  .ep-text::before {
    content: "EPISODES";
    display: block;
    text-align: center;
    font: 400 5rem/1.03 var(--font-3);
    color: var(--color-grey-2);
    top: -100px;
    position: absolute;
  }
  .ep-text {
    margin-top: 120px;
    position: relative;
  }
  .ep-list {
    display: flex;
    max-height: 600px;
    min-height: 370px;
    width: 90%;
    justify-content: space-between;
  }

  .ep-card > div {
    margin: 0;
    width: max-content;
  }
  .ep-card p {
    height: 100px;
    max-width: 35ch;
  }
}
@media (max-width: 768px) {
  .ep-text {
    margin-top: 160px;
  }

  .ep-list {
    margin-top: 30px;
  }
}
