.home {
  height: fit-content;
  background-image: url("../../img/tlou.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: top right;
  z-index: 1;
  position: relative;
}
.home::after {
  content: "";
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0.05926120448179273) 60%,
    rgba(0, 0, 0, 1) 90%
  );
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.title-main {
  display: flex;
  align-items: center;
}
main h1 > span {
  position: relative;
}

main h1 > span::after {
  content: "";
  display: block;
  height: 100%;
  width: 8px;
  background-color: var(--color-grey-2);
  position: absolute;
  right: -32px;
  top: 0;
}

main > p {
  text-align: left;
  max-width: 30ch;
}

.btn-main {
  display: flex;
  gap: 27px;
}
.btn-main button {
  padding: 0 30px;
  height: 46px;
  align-items: center;
  cursor: pointer;
}

.activated {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.inactive {
  background-color: var(--color-grey-1);
  border: 1px solid var(--color-grey-1);
}

.activated:hover {
  border: 1px solid var(--color-grey-2);
}

.inactive:hover {
  border: 1px solid var(--color-primary);
}

main > section {
  margin-top: 100px;
  align-items: start;
  margin-bottom: 60px;
}

main > section h3 {
  text-transform: uppercase;
}

.inside {
  max-width: 100%;
  min-width: 300px;
  margin-right: auto;
  width: 840px;
  gap: 20px;
}

.inside > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 139px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.inside > li:first-child {
  background-image: url("../../img/inside/survival.svg");
}
.inside > li:nth-child(2) {
  background-image: url("../../img/inside/relationship.svg");
}
.inside > li:last-child {
  background-image: url("../../img/inside/adventure.svg");
}

@media (max-width: 768px) {
  .home {
    height: fit-content;
  }
  main {
    align-items: center;
  }

  main > section {
    max-width: 100%;
    margin-top: 50px;
  }
  .inside {
    overflow-x: auto;
  }
  main > p {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  main {
    margin-bottom: 0;
  }
  .btn-main {
    display: flex;
    flex-direction: column;
  }
  main button {
    min-width: max-content;
  }
}
