.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 20px;
  height: 100%;
}
.flex,
.flex-none {
  display: flex;
  justify-content: space-between;
}
.flex {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.selected {
  color: var(--color-grey-2);
}
